DATABASE_HOST=
DATABASE_PORT=
DATABASE_PASSWORD=
DATABASE_USER=
DATABASE_NAME=

DB_POOL_SIZE=60
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30
DB_POOL_RECYCLE=1000

REDIS_URL=redis://redis:6379/0

SQUAD_SECRET_KEY=
SQUAD_BASE_URL=https://sandbox-api-d.squadco.com

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886
TWILIO_JOIN_CODE=join <your-sandbox-keyword>
TWILIO_DEMO_MODE=true